#logo{
  width: 100px;
  height: auto;
}


.section{
  padding-left: 60px;
  padding-right: 60px;
}

#header_img{
  background-image: url(/Users/maryam/Documents/Code/PresentationPortfolio/Images/de.png);
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}


.menu_container{
  padding-top: 5px;
  float: right;

}

#menu_buttons{
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 4px;

}
