#logo{
  width: 100px;
  height: auto;
}


.section{
  background-color: #8FDBAA;
}

.container{
  background-color: #a57bc4;
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}


.menu_container{
  float: right;
}

#menu_buttons{
  padding: 20px;
  

}
