#logo{
  width: 100px;
  height: auto;
}
h1{
  font-family: 'Girassol', cursive;
  font-size: 70;
  color: white;

}

h4{
  font-family: 'arial';
  font-weight: 100;
  font-size: 10px;
  color: black;
}

.section{
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}


#header_img{
  background-image: url(/Users/maryam/Documents/Code/PresentationPortfolio/Images/de.png);
  background-size: cover;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.color_overlay{
  width: 100%;
  height: 100%;
  background: black;
  opacity: .0;
  position: absolute;
  z-index: 1;
}

.heading_container{
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}



.Header_text_container{
  padding: 50px;
  text-align: center;
  position: absolute;
  z-index: 10;
}



.menu_container{
  padding-top: 5px;
  float: right;

}

#menu_buttons{
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 4px;

}

#gallery_heading{
  text-align: center;
}


.social_media{
  margin: auto;
  text-align: center;
}

.my_video{
  margin: 10px;
  float: left;
  height: 210px;
  width: calc(33% - 20px)
}

.video_container{
  margin: auto;
  width: 100%;
  height: 690px;
}

.icons_container{
  margin: auto;
  height: 20px;
}

.social_icons{
  margin: 10px;
  height: 100%;
  display: inline-block;
}

.footer_text{
  margin-top: 50px;
}

#myVideo {
  position: absolute;
    top: -20%;
  width: 100%;
}
