#logo{
  width: 100px;
  height: auto;
}

.spacer1{

  height: 120px;
}

h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 85px;
  color: white;

}

h2{
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
}

h4{
  font-family: 'arial';
  font-weight: 100;
  font-size: 10px;
  color: black;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}



.section{
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.frame_width{
    width: 100%;
    height: 210px;
}

#header_img{
  background-image: url(/Images/de.png);
  background-size: cover;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.color_overlay{
  width: 100%;
  height: 100%;
  background: black;
  opacity: .2;
  position: absolute;
  z-index: 1;
}

.heading_container{
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}



.Header_text_container{
  padding: 50px;
  text-align: center;
  position: absolute;
  z-index: 10;
}



.menu_container{
  padding-top: 5px;
  float: right;

}

.menu_buttons{
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 4px;

}

#gallery_heading{
  text-align: left;
  padding-left: 10px;
}


.social_media_container{
  margin: auto;
  text-align: center;
  width: 1200px;
}

.my_video{
  margin: 10px;
  float: left;
  height: 210px;
  width: calc(33% - 20px)
}

.my_xd{
  margin: 10px;
  float: left;
  height: 210px;
  width: calc(50% - 20px)
}

.video_container{
  margin: auto;
  width: 100%;
  height: 690px;
}

.icons_container{
  margin: auto;
  height: 20px;
}

.social_icons{
  margin: 10px;
  height: 100%;
  display: inline-block;
}

.footer_text{
  margin-top: 50px;
}

#myVideo {
  position: absolute;
    top: -20%;
  width: 100%;
}



.picture_of_me_container{
  background-image: url(/Users/maryam/Documents/Code/PresentationPortfolio/Images/kop.JPEG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  float: left;
}


.about_me_text_container{
  padding-left: 30px;
  width: 570px;
  float: left;
}

.container2{
  height: 900px;
}

.contact_container{
  height: 600px;
  padding-right: 20px;
  padding-left: 10px;
}

.contact_info_container{
  width: 44%;
  float: left;
  padding-right: 70px;
}

.contact_map_container{
  width: 50%;
  float: left;
}

.icons{
  width: 30px;
  float: left;
}

.text_right{
  float: left;
  padding-left: 20px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.icon_text_container{
  width: 100%;
  height: 50px;
}

.h1_black{
  color: black;
}
